<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Black & Black Surgical Catalog Section:</title>

    <!-- Template for showing B&B catalog section in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <script src="exampledata.js"></script>
    <link rel="stylesheet" href="catsection.css">
  </head>
  <body>
  
<script>
function ready(fn) {
  if (document.readyState !== 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}
grist.ready( 
  {  requiredAccess: 'read table'  }
);

function addDemo(row) {

  if (!row.Families_names) {
    row.Families_names = [
      {
        FamilyName: 'Families_names[0].Item_Family',
        Blurb: '.Blurb',
	Bullets: '.Bullets',
        ImageRef: '.Main_image',
        Products: '.Item_s',
      },
      {
        FamilyName: 'Families_names[1].Item_Family',
        Blurb: '.Blurb',
	Bullets: '.Bullets',
        ImageRef: '.Main_image',
        Products: '.Item_s',
      },
    ];
  }
  return row;
}

const data = {
  count: 0,
  section: '',
  status: 'waiting',
  tableConnected: false,
  rowConnected: false,
  haveRows: false,
};
let app = undefined;

function updateSection(row) {
  try {
    data.status = '';
    if (row === null) {
      throw new Error("(No data - not on row - please add or select a row)");
    }
    console.log("GOT...", JSON.stringify(row));
    if (row.References) {
      try {
        Object.assign(row, row.References);
      } catch (err) {
        throw new Error('Could not understand References column. ' + err);
      }
    }

    addDemo(row);

    // Fiddle around with updating Vue (I'm not an expert).
    for (const key of want) {
      Vue.delete(data.section, key);
    }
    for (const key of ['Help', 'SuggestReferencesColumn', 'References']) {
      Vue.delete(data.section, key);
    }
    data.section = Object.assign({}, data.section, row);

    // Make invoice information available for debugging.
    window.section = row;
  } catch (err) {
    handleError(err);
  }
}
ready(function() {
  // Update the section anytime the document data changes.
  grist.ready();
  grist.onRecord(updateSection);
 });

Vue.config.errorHandler = function (err, vm, info)  {
    handleError(err);
  };

  app = new Vue({
    el: '#app',
    data: data
  });
	
grist.onRecord(function (record) {
  document.getElementById('section-title').innerText = record.Print_Major_Section_Name;
	document.getElementById('readout').innerHTML = JSON.stringify(record, null, 2);
 });

// 

	</script>
	
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
	  
	<!-- TEMPLATES FOR CATALOG SECTION DISPLAY HERE  -->
   <template v-if="invoice">	    
	<div class="header">Black &amp; Black Surgical Catalog Section: 
		<h1 id="section-title">{{ section.Print_Major_Section_Name }}</h1>
	</div>
	<div id="item-families">
		<div class="family" v-for="family in section.Families_names">
			<div class="family-name">{{ family.FamilyName }}</div>
			<div class="family-blurb">{{ family.Blurb }}</div>
			<div class="family-image">{{ family.ImageRef }}</div>
			<div class="product-list">{{ family.Products }}</div>
		</div>
	</div>
	</template>
	</div>
	  <div> <pre id="readout"></pre> </div>
  </template>
  </body>
</html>
